In [56]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [57]:
##Load the trained model, onehot encoder, standard scaller and Lable encorder files 
model = load_model('model.h5')
#label_encoder_gender.pkl
#onehot_encoder_geo.pkl
#scaler.pkl

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [58]:
#Example Input data
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [59]:
input_data_df = pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [60]:
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
#label_encoder_gender
geo_encoded_data = onehot_encoder_geo.transform([input_data_df['Geography']])
#onehot_encoder_geo

geo_encoded_data

/Users/sureshnaidumullaguri/AI/Krish Naik/annclassification/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1, 0, 0]])

In [61]:
onehot_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [62]:
geo_encoded_df = pd.DataFrame(geo_encoded_data, columns = onehot_encoder_geo.get_feature_names_out(["Geography"])).astype(int)
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0                 1                  0                0

In [63]:
input_data_df = pd.concat([input_data_df.drop('Geography', axis=1), geo_encoded_df], axis = 1)
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1,0,0

In [66]:
X_pedict = scaler.transform(input_data_df)
X_pedict

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [70]:
prediction = model.predict(X_pedict)
prediction[0][0]

1/1 [==============================] - 0s 13ms/step

0.033735532

In [72]:
if prediction[0][0] < 0.5:
    print("Employee will leave organization")
else:
    print("Employee Continue in organization")

Employee will leave organization